.Setting{
    display:flex;
    flex-direction: row;
}
.settingwrapper{
    flex: 9;
    padding: 20px;
}
.settingstitile{
display: flex;
align-items: center;
justify-content: space-between;
}
.settingUpdateTitle{
    font-size:30px;
    margin-bottom: 20px;
    color:lightcoral ;
}
.settingDelete{
    color: red;
    cursor: pointer;
    font-size: 12px;
}
.settingform{
    display: flex;
    flex-direction: column;

}
.settingpp{
    display: flex;
    align-items: center;
    margin:10px 0;
}
.settingpp>img{
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.settingppicon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:lightcoral;
    color: white;
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.settingform>label{
    font-size: 20px;
    margin-top: 20px;

}
.settingform>input{
    color: grey;
    margin: 10px 0;
    border: none;
    height: 30px;
    border-bottom: 1px solid lightgray;
}
.submitsetting
{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top:20px;
    padding: 10px;
    background-color: teal;
}